/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("https://img.freepik.com/premium-photo/burger-with-coke-fries-isolated-wooden-table-background-delicious-cheeseburger-board_667286-378.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-image: url('hero-image.jpg'); /* Replace with your image */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.cta-btn {
    display: inline-block;
    background-color: #FF5733;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #FF814A;
}

.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2em;
    line-height: 1.8;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #080808;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
